@import './variables.scss';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin ViewWrapper {
  height: calc(100vh - 78px - 80px);
  grid-row: 2/2;
  padding: 21px 12px;
}
