$red: f29796;
$blue: a3b1e3;
$green: ace3a3;
$purple: ca96f2;
$orange: e1c17d;
$black: 121212;
$white: fafafa;
$grey: 3a3a3a;

$fontSizeXXL: 49px;
$fontSizeXL: 39px;
$fontSizeL: 31px;
$fontSizeXM: 25px;
$fontSizeM: 20px;
$fontSizeS: 16px;
$fontSizeXS: 13px;

$smallMobile: 320px;
$mediumMobile: 360px;
$mediumXMobile: 375px;
$largeMobile: 414px;
$tablet: 768px;
$desktop: 1440px;

$mobileLandscape: 567px;
