@import '../../globalStyles/mixins.scss';
@import '../../globalStyles/variables.scss';

.HistoryList {
  display: grid;
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  justify-content: flex-start;
}
