@import '../../globalStyles/variables.scss';

.LoginFormWrapper {
  grid-column: col-start 3 / span 8;
  display: flex;
  flex-direction: column;
}

.FormInput {
  margin-bottom: 16px;
  font-size: $fontSizeS;
  padding: 6px 12px;
  border: none;
  border-radius: 12px;
  background-color: transparent;
  box-shadow: 0px 0px 12px -4px #{'#' + $black + '99'};
}

.FormInput.is-dark {
  box-shadow: 0px 0px 12px -4px #{'#' + $white + 'DE'};
  color: #{'#' + $white + '99'};
  &::placeholder {
    color: #{'#' + $white + '61'};
  }
}

.FormInput:last-of-type {
  margin-bottom: 60px;
}

.LoginButton {
  width: 88px;
  height: 37px;
  align-self: center;
  border: none;
  border-radius: 12px;
  font-size: $fontSizeS;
  font-weight: 600;
  letter-spacing: -1.67px;
  color: #{'#' + $white};
  background-color: #{'#' + $black + 'DE'};
}

.LoginButton.is-dark {
  box-shadow: 0px 0px 12px -4px #{'#' + $white + 'DE'},
    inset 0px 0px 8px 0px #{'#' + $white + '26'};
  color: #{'#' + $white + 'DE'};
}

@media screen and (max-height: $mobileLandscape) {
  .LoginFormWrapper {
    padding-top: 12vh;
  }
}
