@import '../../globalStyles/variables.scss';

// 1.Default Label
// 2.Settings Menu Label
// 3.Service List Labels
// 4.Dark Mode Classes

// =============================
//      1.Default Label
// =============================

.Label {
  color: #{'#' + $black};
  font-size: $fontSizeS;
  letter-spacing: -1.33px;
  font-weight: 400;
}

// =============================
//      2.Setings Menu Label
// =============================

.isSettingsMenu {
  color: #{'#' + $black + '99'};
  margin-bottom: 18px;
  cursor: pointer;
  font-weight: 500;
}

// =============================
//      3.Service List Labels
// =============================

.ListElipsedName {
  grid-row: 1/1;
  grid-column: col-start 1 / span 8;
  white-space: nowrap;
  font-weight: 600;
  overflow: hidden;
  margin-bottom: 2px;
  text-overflow: ellipsis;
  color: #{'#' + $black + 'DE'};
  letter-spacing: -1px;
}

.ListHour {
  grid-row: 2/2;
  grid-column: col-start 1 / span 2;
  color: #{'#' + $black + 'DE'};
  letter-spacing: -1.66px;
}

.ListElipsedLabel {
  grid-row: 2/2;
  grid-column: col-start 3 / span 6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #{'#' + $black + '99'};
  letter-spacing: -1px;
}

.isBookingDate {
  color: #{'#' + $black + 'DE'};
}

// =============================
//      4.Dark Mode Classes
// =============================

.is-dark {
  color: #{'#' + $white + '99'};
}

.isBookingDate.is-dark {
  color: #{'#' + $white + 'DE'};
}

.isSettingsMenu.is-dark {
  color: #{'#' + $white + '99'};
}

.ListElipsedName.is-dark {
  color: #{'#' + $white + 'DE'};
}

.ListHour.is-dark {
  color: #{'#' + $white + 'DE'};
}

.ListElipsedLabel.is-dark {
  color: #{'#' + $white + '99'};
}
