@import '../../globalStyles/variables.scss';

.HistoryCalendarItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #{'#' + $black};
  color: #{'#' + $white};
  font-size: $fontSizeM;
  font-weight: 800;
  border-radius: 8px;
  box-shadow: inset 0px 0px 10px #{'#' + $white + 'DE'};
  cursor: pointer;
  aspect-ratio: 1/1;
  min-height: 60px;
  min-width: 60px;
  max-height: 80px;
  max-width: 80px;
  width: 20%;
  margin-bottom: 12px;
  &:after {
    content: '';
    height: 3px;
    width: 40px;
    position: absolute;
    background-color: #{'#' + $white + 'DE'};
  }
}

.HistoryCalendarItem.is-dark {
  box-shadow: inset 0px 0px 10px #{'#' + $white + '14'};
  background-color: #{'#' + $white + '14'};
  color: #{'#' + $white + 'DE'};
}

.DateWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > span:first-of-type {
    line-height: 35px;
    position: relative;
  }
}
