@import '../../globalStyles/variables.scss';

.Button {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    & > svg {
      & path {
          fill: #{'#' + $black};
      }
    }
}

.Button.is-dark {
    & > svg {
        & path {
            fill: #{'#' + $white};
        }
      }
}