@import '../../globalStyles/variables.scss';

.ListItem {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(12, [col-start] 1fr);
  column-gap: 24px;

  &:not(:last-of-type) {
    margin-bottom: 34px;
  }
}

.ListButton {
  position: absolute;
  right: 0;
  height: 37px;
  min-width: 88px;
  border-radius: 18px;
  background-color: #{'#' + $red + '99'};
  border: none;
  cursor: pointer;
  &:hover {
    box-shadow: inset 0 0 8px #{'#' + $black + '40'};
  }
}

.ListItem:nth-of-type(5n-3) > .ListButton {
  background-color: #{'#' + $blue + '99'};
}

.ListItem:nth-of-type(5n-2) > .ListButton {
  background-color: #{'#' + $green + '99'};
}

.ListItem:nth-of-type(5n-1) > .ListButton {
  background-color: #{'#' + $purple + '99'};
}

.ListItem:nth-of-type(5n) > .ListButton {
  background-color: #{'#' + $orange + '99'};
}

// ==================================
//         Dark Mode
// ==================================

.ListButton.is-dark {
  background-color: #{'#' + $red + 'DE'};
  &:hover {
    opacity: 0.5;
  }
}
.ListItem:nth-of-type(5n-3) > .ListButton.is-dark {
  background-color: #{'#' + $blue + 'DE'};
}

.ListItem:nth-of-type(5n-2) > .ListButton.is-dark {
  background-color: #{'#' + $green + 'DE'};
}

.ListItem:nth-of-type(5n-1) > .ListButton.is-dark {
  background-color: #{'#' + $purple + 'DE'};
}

.ListItem:nth-of-type(5n) > .ListButton.is-dark {
  background-color: #{'#' + $orange + 'DE'};
}
