@import '../../globalStyles/mixins.module.scss';

.Wrapper {
  @include ViewWrapper;
}

.SettingsMenuItem {
  margin-bottom: 24px;
}

.SettingsButton {
  border: none;
  background: none;
  color: #{'#' + $black + '99'};
}

@media screen and (min-width: $mediumMobile) {
  .Wrapper {
    padding: 21px 18px;
  }
}

@media screen and (min-width: $mediumXMobile) {
  .Wrapper {
    padding: 21px 21px;
  }
}

@media screen and (min-width: $largeMobile) {
  .Wrapper {
    padding: 21px 24px;
  }
}
